<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/lesson.css">
    <title>Learning Python</title>
</head>
<body>
 <div class="page-header">
  <h3>Module <%= moduleId %><br><%=label%></h3>
  <h1><%= locals.label %></h1>

</div>

<hr>


  <hr>
  <div class="grid_container">
    <div class="module-menu">
    <%
      const rendered = []; 
      lessons.forEach(lesson => {
      const mid = lesson.module_id;
      if (!rendered.includes(mid)) {
        rendered.push(mid);
        // choose the right label for each module
        let label;
        if (mid === 1)      label = "Python basics";
        else if (mid === 2) label = "Control Structures";
        else if (mid === 3) label = "Functions and modules";
        else if (mid === 4) label = "Module Turtle. Math for developer"
        else if (mid === 5) label = "Object-oriented programming"
        else if (mid === 6) label = "Pygame game development basics"
    %>
      <form action="/select-module" method="POST">
        <input type="hidden" name="moduleId" value="<%= mid %>">
        <input type="hidden" name="label" value="<%=label%>">
        <input 
          type="submit" 
          value="<%= mid%>. <%= label %>" 
          class="module_menu__button" 
        >
      </form>
    <% 
    }
      });
    %>
    
  </div>

    <div>
      <% moduleLessons.forEach(lesson => {%>
        <section class="lesson-card">

          <article class="into-lesson-card">
            <a href="/select-lesson/<%= lesson.module_id %>/<%= lesson.lesson_id %>" class="lesson-card__link">
              <h2 class="lesson-card__title">Lesson <%= lesson.lesson_id %></h2>
              <span class="lesson-card__badge"><%= lesson.lesson_id %></span>
              <p><%= lesson.name %></p>
            </a>

            <a href="/select-basic-points/<%= lesson.module_id %>/<%= lesson.lesson_id %>" class="lesson-card__link">
              <span class="lesson-card__badge"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" height="48px" width="48px" style="color: rgb(255, 255, 255);"><path fill="currentColor" d="M15.973 6.08l-1.586-1.586c-.389-.389-1.157-.707-1.707-.707h-7c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h10c.55 0 1-.45 1-1v-9c0-.55-.318-1.318-.707-1.707zm-5.293 8.207H6.812v-1h3.868v1zm3.868-2.342H6.812v-1h7.736v1zm0-2.342H6.812v-1h7.736v1z"></path></svg></span>
              <p>Review<br><%= lesson.name %></p>
            </a>
          </article>

        </section>
      <%}); %>
    </div>
  </div>
</body>
</html>