<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/lesson.css">
    <title>Lessons</title>
</head>
<body>
    <h3>Module <%= module_id %></h3>
    <h1>Python basics</h1>
    <div>
        <a href="">All tasks</a>
        <a href="">Incomplete</a>
        <a href="">On review</a>
    </div>
    <hr>
    <div>
      <% lessons.forEach(lesson => {%>
        <article class="lesson-card">
          <form action="/select-lesson" method="POST" class="lesson-card__form">
            <input type="hidden" name="lessonId" value="<%= lesson.lesson_id %>">
            <button type="submit" class="lesson-card__link">
              <h2 class="lesson-card__title">Lesson <%= lesson.lesson_id %></h2>
              <span class="lesson-card__badge" aria-label="Lesson number"><%= lesson.lesson_id %></span>
              <p><%= lesson.name %></p>
            </button>
          </form>
        </article>
      <%}); %>
        
    </div>
</body>
</html>